{% extends "basetemplate.html" %}

{% block title %}
About
{% endblock %}


{% block content %}
<div class="aboutcontent">
    <div class="content" id="aboutimg"></div>
    <div class="content" id="aboutmeriter">
        <ul>
            <li>Namn: Erik Halt</li>
            <li>Studerar: Pythonutvecklare inriktning AI</li>

            <li>Utbildning</li>
            <ul>
                <li>Abb Industrigymnasium - Teknik</li>
                <li>Grundläggande Pythonprogramering</li>
                <li>Databasteknik</li>
                <li>Webramverk</li>
            </ul>


            <li>Arbetlivserfarenhet</li>
            <ul>
                <li>Maskinoperatör Svenska Retursystem</li>
                <ul>
                    <li>2013-2017</li>
                </ul>
            </ul>
            <ul>
                <li>Bartender Gillet 6</li>
                <ul>
                    <li>2016</li>
                </ul>
            </ul>
            <ul>
                <li>Redovisningsekonom ICA affärsservice</li>
                <ul>
                    <li>2020</li>
                </ul>
            </ul>
            <ul>
                <li>Lageransvarig Mintec Paper</li>
                <ul>
                    <li>2020-2022</li>
                </ul>
            </ul>
            <ul>
                <li>Skiftledare Leos Lekland</li>
                <ul>
                    <li>2022-pågående</li>
                </ul>
            </ul>
            <li>Meriter</li>
            <ul>
                <li>Home Robotic Design UF</li>
                <li>Innebandytränare IBK Sala</li>
                <li>Ordförande Idrottsföreningen ABB</li>
                <li>Ekonomiansvarig Elevkåren ABB</li>
            </ul>
        </ul>


    </div>
    <div class="content" id="aboutletter">
        <h1>Om mig</h1>
        <p>Hej, Mitt namn är Erik Halt och studerar Pythonutvecklare med inrikting AI på plushögskolan i Västerås.

        </p>
    </div>
</div>
{% endblock %}