{% extends "basetemplate.html" %}

{% block title %}
Home
{% endblock %}


{% block content %}
<div class="contactcontenct">
    <div class="content" id="formwrap">
        <h1>Kontakta Mig</h1>
        <form method="post">
            <input class="forminput" type="text" name="subject" id="subject" placeholder="Ämne" minlength="4"
                maxlength="20" value="">
            <br>
            <input class="forminput" type="email" name="email" id="email" placeholder="Email" minlength="1" value="">
            <br>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Meddelande" maxlength="500"
                minlength="10"></textarea>
            <br>
            <input id="formsubmit" type="submit">
        </form>
    </div>
</div>
{% endblock %}